name: release 

on: 
  workflow_dispatch:

jobs: 
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write      
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install modules
        run: npm install semantic-release @semantic-release/git @semantic-release/github -D 
      - name: Semantic release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}                  