on:
  push:
    branches:
      - main
      
  pull_request:
    branches:
      - main        
jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: echo "This is  Github actions"
      - name: second
        run: echo "second step"                    